{{!-- <div>
    {{#each brands}}
        <div>
            <a href="/brands/{{id}}">Click to see {{name}}</a>
        </div>
    {{/each}}
</div> --}}


<section>
	<h2> There are {{brands.length}} brands</h2>
	{{#each brands}} 
		<article class="clearfix item-container block">
			<h2>{{name}}</h2>
            <img class="item-img" src="{{image}}" />
			<a class="btn" href="/brands/{{id}}">Click to see {{name}}</a>
		</article>
		{{/each}}
	</section> 