<div class="big-block">
	<h2 id="item-name">{{item.name}}</h2>
	<img class="item-img" src="{{item.image}}"/>
	<br>
	
	
	
	
	
	<h2 id="item-price">Price: {{item.price}}</h2>
	<h2 id="item-description">Description: {{item.description}}</h2>
	<h2 id="item-category">Category: {{item.category}}</h2>
	
	
    <!--<button id="btn">Add Spice!</button> -->
	<button id="delete-button" data-id="{{item.id}}">Delete {{name}}</button>
</div>
<a href="/items">
   <input type="button" value="Back to all Items" />
</a>
