<div class="big-block">
	<h2 id="item-name">{{item.name}}</h2>
	<img class="item-img" src="{{item.image}}"/>
    <button id="btn">Add Spice!</button>
</div>
<h2 id="item-category">{{item.catergory}}</h2>
<h2 id="item-description">{{item.description}}</h2>
<h2 id="item-price">{{item.price}}</h2>