<div class="big-block">
	<h2 id="item-name">{{item.name}}</h2>
	<img class="item-img" src="{{item.image}}"/>
<<<<<<< HEAD
	<h2 id="item-category">{{item.category}}</h2>
	<h2 id="item-description">{{item.description}}</h2>
	<h2 id="item-price">{{item.price}}</h2>
</div>
=======
	<br>
	
	
	
	
	
	<h2 id="item-price">{{item.price}}</h2>
	<h2 id="item-description">{{item.description}}</h2>
	<h2 id="item-category">{{item.category}}</h2>
	<h2 id="item-description">{{item.description}}</h2>
	
    <!--<button id="btn">Add Spice!</button> -->
</div>

<a href="/items">
   <input type="button" value="Back to all Items" />
</a>
>>>>>>> 0016bed88ebd01475ded3195565e2550c00ea382
