
<br>
<h5>Items are listed Below</h5>
<div>
    {{#each items}}
        <div id="item-{{id}}">
            <img src="{{image}}"/><br>
            <a style="color: orange" href="/items/{{id}}">Click to see {{name}}</a><br>
            <button id="delete-button" data-id="{{id}}">Delete {{name}}</button>
        </div>
    {{/each}}
</div>
<br>
<br>
<br>

<a href="/add-item-form">
   <input type="button" value="Add Item" />
</a>