<div>
    {{#each items}}
        <div id="item-{{id}}">
            <img src="{{image}}"/><br>
            <a style="color: orange" href="/items/{{id}}">Click to see {{name}}</a><br>
            <button id="delete-button" data-id="{{id}}">Delete {{name}}</button>
        </div>
    {{/each}}
</div>